/* .root{
  color :white;
  color :#1c1b32;
  color :darkblue rgba(27,27,50,0.6);
  color :green;

}
/* 
/* *{

  margin:0;
  padding: 0;
  box-sizing: border-box;
 color :var(white) ;

} */
#title{
  font-size: 20px;
  font-style: oblique;
  color: white;
  font-family: 'Times New Roman', Times, serif;
} 

.container{
  width: 100%;
  max-width: 800px;
  background-color: hwb(240 38% 37%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0,0.1);
  h1,p{
    text-align: center;
    margin-bottom: 10px;
    color:#333;
    input:"100%"
  }
  form {
    display: flex;
    flex-direction:column;
  }
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold; 
    padding: 10px;
  
   } 
  /* .div p{
    font: size 1px;
    font-style:italic ;
    color: white; */

  }
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
textarea {
  height: 100px;
  width: 100%;
  min-height: 120pt;
  min-width: 100%;
  max-width: 100%;
  margin-top: 5px;
  padding: 0.25rem;
}
/*  */
/* .checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: column;
  margin-right: 6px; */ 
/* .radio-buttons label,
.checkbox-group label {
  font-weight: normal;
  margin-bottom: 6px; */
   button {
    padding: 0.75rem;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    border: none;
 
  }
  #Survey-form{
    color: white;
    font: display 10px;
    padding: 2.5rem;
    border-radius: 0.25rem;
    width: 720px; */
    margin: auto;
    margin-top: 30px;
  }
  button:hover {
    background-color: #45a049;
    font-size: 10px;
    
  }
  #description{
    display: flex;
    font-size: 10px;
    height: 100pt;
    font-weight: 200px;
  } */

  /* width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
/* } */
textarea::placeholder {
  font-style: italic;
}
  
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}